.statistics {
    display: block;
    width: 335px;
    margin: auto;
    border: solid 1px rgb(211, 221, 221);
    
}

.title {    
    color: #333333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.statlist {
    
    height: 60px;
    display: flex;
    list-style: none;
}

.item {
    width: 70px;
    border: solid 1px teal;

}

.label {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.percentage {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}